html, body {
  color: $main-text;
  background-color: $main-background;
}

#wrap { background-color: $content-background; }

h1 { color: #fff; }
h2 { color: $main-text; }
h3 { color: #ccc; }
h4 { color: #ccc; }