html, body {
  color: $main-text;
  background-color: $main-background;
}

#wrap { background-color: $content-background; min-height: 100vh; }

h1 { color: #111; }
h2 { color: $main-text; }
h3 { color: #222; }
h4 { color: #222; }

.lobby-game {
  border-top: 1px solid #ccc; padding-top: 10px;
}

.lobby-game .game-name {
  font-size: 12pt; font-weight: bold;
}

#running-games-list {
  min-height: 480px;
}

#running-games-list .lobby-game:first-child { border-top: none; padding-top: 0px; }

hr {
  border-top: 1px solid #ccc;
}

.headerbar {
  border-top: 8px solid $blood-red;
  border-bottom: 1px solid $blood-red;
  margin-bottom: 10px;
  padding: 10px;
}

.panel-heading {
  line-height: 30px; border-bottom: 4px solid $blood-red !important;
}

a { color: $blood-red; }

.btn-default, .btn-info {
  color: #bbb; background: #222; background-image: none !important; border: #333;
}

#page-footer {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

#footer-filler {
  height: 71px;
}

#players-list .current td { font-weight: bold; }