<div class="panel panel-default">
    <div class="panel-heading">Czat</div>
    <div class="panel-body schopenhauer-chat" data-context="{{ chat_context }}">
        <div class="chat-list-container" style="height: 200px; margin-bottom: 10px; overflow-y: scroll;">
            <table class="table round-table chat-list" id="chat_list"></table>
        </div>
        <div class="input-group">
            <input type="text" name="name" placeholder="Wpisz wiadomość" class="form-control" id="message_input">
            <div class="input-group-btn">
                <input type="submit" class="btn btn-info" />
            </div>
        </div>
    </div>
</div>