<div class="panel panel-default">
    <div class="panel-heading">Czat</div>
    <div class="panel-body">
        <div class="chat-list-container" style="height: 200px; margin-bottom: 10px; overflow-y: scroll;">
            <table class="table round-table" id="chat_list"></table>
        </div>
        <div class="input-group">
            <input type="text" name="name" placeholder="Wpisz wiadomość" class="form-control" id="message_input">
            <div class="input-group-btn">
                <input type="submit" class="btn btn-info" value="Wyślij" onclick="send_message()" />
            </div>
        </div>
    </div>
</div>

<script>
    var chat_context = "{{ chat_context }}";
    var chat_template = "<tr><td><a href='/profiles/view/[[ author ]]' style='font-weight: bold;'>[[ author ]]</a>: [[ message ]]</td></tr>";
    var chat_block = "#chat_list";

    function send_message() {
        var message_input = document.getElementById("message_input");
        chat_socket.send(message_input.value);
        message_input.value = "";
    }

    document.getElementById('message_input').onkeypress = function(e) {
        if(e.keyCode == 13)
            send_message()
    };

    chat_socket = new WebSocket("ws://" + window.location.host + "/chat/"+chat_context);
    chat_socket.addEventListener("message", function(e) {
        var data = JSON.parse(e.data);
        // create message string
        var message = generate_from_template(chat_template, {
            "author": data.author, "message": data.message
        });
        $(chat_block).prepend(message);
    });
</script>