hr {
	border-color: #333333;
}

.headerbar {
	background-color: #000000;
	color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color: #a11b1b;
}

.navbar {
	background-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #a11b1b;
}

.forabg {
	/*background-color: #a11b1b;*/
	background-color: #790000;
}

.forumbg {
	background-color: #a11b1b;
}

.panel {
	background-color: #222;
	color: #888;
}

.bg1 {
	background-color: #333;
}

.bg2, .bg3 {
	background-color: #222;
}

.bg4 {
	background-color: #000
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #CFE1F6;
	color: #000;
}

table.table1 td {
	color: #536482;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #FFF;
}

dl.details a { color: #CCCCCC; }
dl.details  a:hover { color: #fff; }

dl.details dd {
	color: #BBB;
}

.sep {
	color: #1198D9;
}

/* Pagination
---------------------------------------- */

.pagination li a {
	color: #BBB;
	background-color: #333;
	border-color: #333;
}

.pagination li.ellipsis span {
	background-color: transparent;
	color:	#000000;
}

.pagination li.active span {
	color: #FFFFFF;
	background-color: #a11b1b;
	border-color: #a11b1b;
}

.pagination li a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	color: #FFFFFF;
	background-color: #a11b1b;
	border-color: #a11b1b;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #AAA; }
a:hover	{ color: #f66; text-decoration: none }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #BBB;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #FFF;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #FFFFFF;
}

/* Post body links */
.postlink {
	color: #aaa;
	border-bottom-color: #aaa;
}

.postlink:hover {
	color: #f66;
    border-bottom-color: #f66;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

a.arrow-up:hover {
	background-color: transparent;
}

a.arrow-left:hover {
	color: #AD6F6F;
}

a.arrow-right:hover {
	color: #AD6F6F;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #000000;
}

ul.topiclist li {
	color: #888888;
}

ul.topiclist dd {
	border-left-color: #222222;
}

.rtl ul.topiclist dd {
	border-right-color: #fff;
	border-left-color: transparent;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #222222;
	color: #888888;
}

li.row:hover dd {
	border-left-color: #CCCCCC;
}

.rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #BBB;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #333333;
}

/* Content container styles
----------------------------------------*/
.content {
	#color: #333333;
}

.postbody .content {
	color: #888888;
}

.postbody  a { color: #AD6F6F; }
.postbody a:hover { color: #fff; }

p.author {
	color: #888888;
}

.content h2, .panel h2 {
	color: #AD6F6F;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #555;
	color: #888888;
}

.signature a { color: #AD6F6F; }
.signature a:hover { color: #fff; }


/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #888888;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong { color: #FFFFFF; }

.postprofile a { color: #AD6F6F; }
.postprofile a:hover { color: #fff; }

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.dropdown-select {
	color: #888;
}

.button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select {
	background-color: #a11b1b;
	border-color: #a11b1b;
	color: #FFFFFF;
}

.dropdown-select:after	{ border-color: #111; border-width: 2px; }
.dropdown-select:hover	{ border-color: #AD6F6F; }

.dropdown-visible .dropdown-select, .dropdown-visible .dropdown-select:hover, .nojs .dropdown-container:hover .dropdown-select {
	color: #FFF;
}

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #F2F6F9; }

/* Main CP box
----------------------------------------*/

.panel-container .panel li.row {
	border-bottom-color: #B5C1CB;
	border-top-color: #F9F9F9;
}

.panel-container .panel label { color: #CCC; }

.panel-container .panel a { color: #CCCCCC; }
.panel-container .panel a:hover { color: #fff; }

ul.cplist {
	border-top-color: #B5C1CB;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #fff;
}

.panel-container table.table1 thead th {
	color: #333333;
	border-bottom-color: #333333;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
#tabs .tab > a {
	color: #555;
}

#tabs .tab > a:hover {
	color: #888;
}

#tabs .activetab > a,
#tabs .activetab > a:hover {
	background: #222;
	color: #888;
}

#tabs .activetab > a:hover {
	color: #FFF;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs .tab > a {
	background-color: #E1EBF2;
}

#minitabs .activetab > a,
#minitabs .activetab > a:hover {
	background-color: #F9F9F9;
	color: #333333;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #536482;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #D31141;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #888;
	background: #333;
}

.rtl #navigation a {
	background: #333;
}

#navigation a:hover {
	background: #a11b1b;
	color: #fff;
}

#navigation #active-subsection a {
	background: #a11b1b;
	color: #fff;
}

#navigation #active-subsection a:hover {
	color: #fff;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #B2C2CF;
	}
}

/* Preferences pane layout
--------------------------	--------------*/
.panel-container h2 {
	color: #888;
}

.left-box label { color: #fff; }

.display-actions a { color: #CCCCCC; }
.display-actions a:hover { color: #fff; }

#cp-main .pm {
	background-color: #FFFFFF;
}

/* Friends list */
.cp-mini {
	background-color: #333;
}

dl.mini dt {
	color: #888;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #888 !important;
}

.first { color: #888; }

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	background-color: #361D1D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	background-color: #333;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	background-color: #1D2536;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	background-color: #28361D;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	background-color: #361D1D;
}

/* Avatar gallery */
#gallery label {
	background: #FFFFFF;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000;
}

label {
	color: #888;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #888;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #888;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #888;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #111;
	border-color: #666;
	color: #888;
}

.inputbox:-moz-placeholder {
	color: #888;
}

.inputbox::-webkit-input-placeholder {
	color: #888;
}

.inputbox:hover {
	border-color: #fff;
}

.inputbox:focus {
	border-color: #fff;
	color: #AAA;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	border-color: #333;
	background-color: #333;
	color: #BBB;
}

a.button1, input.button1 {
	border-color: #333;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	#color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	background-color: #a11b1b;
	border-color: #a11b1b;
	color: #FFFFFF;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #a11b1b;
	color: #FFF;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */

#darken {
	background-color: #000000;
}

.dropdown-extended ul li {
	border-top-color: #a11b1b;
}

.dropdown-extended ul li:hover {
	background-color: #DDDDDD;
	color: #000000;
}

.dropdown-extended .header, .dropdown-extended .footer {
	color: #FFFFFF;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background: #a11b1b;
	background: -moz-linear-gradient(top, #5E0F0F 0%, #a11b1b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5E0F0F), color-stop(100%, #a11b1b));
	background: -webkit-linear-gradient(top, #5E0F0F 0%, #a11b1b 100%);
	background: -o-linear-gradient(top, #5E0F0F 0%, #a11b1b 100%);
	background: -ms-linear-gradient(top, #5E0F0F 0%, #a11b1b 100%);
	background: linear-gradient(to bottom, #5E0F0F 0%, #a11b1b 100%);
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #FFF transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #5E0F0F transparent;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
	border-color: #a11b1b;
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before, ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	border-color: #D31141;
}

.dropdown .dropdown-contents {
	background: #fff;
	border-color: #a11b1b;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #a11b1b;
}

.dropdown li.separator {
	border-color: #a11b1b;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #888888;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #D31141;
}

/* FAQ
---------------------------------------- */
.faq {
	color: #888;
}

.faq strong { color: #888; }
.faq a { color: #BFA4A4; }
.faq a:hover { color: #fff; }
