{% extends "base.html" %}

{% block content %}
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Lista najlepszych przegrywów</div>
        <div class="panel-body">
            <ol>
                {% for user in users|slice:":40" %}
                <li {% if user == request.user %}style="font-weight: bold"{% endif %}>
                    <a href="/profiles/view/{{ user }}">{{ user }}</a> <div class="pull-right">({{ user.ranking_score }})</div></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body"  style="font-size: 13pt;" >
            <b>Twoja pozycja:</b> {{ request.user.ranking_position }}<br/>
            <b>Wszystkich graczy: {{ users|length }}</b>

        </div>
    </div>
</div>

{% endblock %}