{% extends "base.html" %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ tournament.name }}</h1>
        <h4>{{ tournament.session_id }}</h4>
    </div>

    <div class="col-md-4 pull-right">
        <h3>Gracze</h3>
        <div id="players-list">
            <ul>
                {% for player in tournament.players.all %}
                <li>{{ player }}</li>
                {% endfor %}
            </ul>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="name" placeholder="Nazwa" class="form-control" id="name_input">
                <div class="input-group-btn">
                    <input type="submit" class="btn btn-info" value="Zaproś" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h4>Rundy</h4>
        {% for round in rounds %}
            <div>
                runda {{ round.round_id }}<br/>
                gry: {% for game in round.games.all %}
                    <a href="{% url 'game_view' game.session_id %}">{{ game.session_id }}</a>
                {% if not forloop.last %},{% endif %}
                {% endfor %}<br/>
                zwycięzca: {{ round.winner }}<br/>
            </div>
        {% endfor %}
        obecna runda {{ tournament.current_round }}
    </div>

    <div class="col-md-12">
        <h4>Zacznij rundę</h4>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-info btn-lg" value="No dobra" />
        </form>
    </div>

{% endblock %}