{% extends "base.html" %}
{% load tournament_tags %}

{% block content %}
    <script>
        // Note that the path doesn't matter right now; any WebSocket
        // connection gets bumped over to WebSocket consumers
        socket = new WebSocket("ws://" + window.location.host + "/tournament/{{ tournament.session_id }}");
        socket.onmessage = function(e) {
            var bread = JSON.parse(e.data);
            if (bread.redirect && bread.player == "{{ request.user }}") {
                location.href = "/game/g/" + bread.game + "/";
            }
        };
        socket.onopen = socket_connect;
        socket.onerror = socket_error;
        socket.onclose = socket_reconnect;
    </script>

    <div class="col-md-8">
        <h1>{{ tournament.name }}</h1>
        <h4>
            {{ tournament.verbose_mode }} {% if not tournament.in_progress %}(zakończony){% endif %}
        </h4>
    </div>

    <div class="col-md-4 pull-right">
        {% if tournament.in_progress %}
        {% if request.user == tournament.get_admin %}
        <div class="panel panel-default">
            <div class="panel-heading">Zarządzaj turniejem</div>
            <div class="panel-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <button id="new_round_button" class="btn btn-info">Nowa runda</button>
                    <input type="submit" name="end-tournament" class="btn btn-info" value="Zakończ" />
                </form>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="panel panel-default">
            <div class="panel-body" style="font-size: 12pt;">
                <p>
                    {% if tournament.current_round == 1 %}Odbyła się tylko jedna runda, którą wygrał <b>{{ tournament.winner }}</b>.{% endif %}
                    {% if tournament.current_round > 1 and tournament.current_round < 5 %}
                        Turniej zakończono po {{ tournament.current_round }} rundach, wygrał użytkownik <b>{{ tournament.winner }}</b>.
                    {% endif %}
                    {% if tournament.current_round >= 5 %}
                        Zagrano {{ tournament.current_round }} rund, a turniej zakończył się wygraną użytkownika <b>{{ tournament.winner }}</b>.
                    {% endif %}
                </p>
            </div>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">Gracze</div>
            <div class="panel-body">
                <table id="players-list" class="table">
                    <tr>
                        <th>Nazwa</th>
                        <th>Wynik</th>
                        <th>Akcje</th>
                    </tr>
                    {% for player in tournament.players.all %}
                    <tr {% if player == tournament.winner %}class="current"{% endif %}>
                        <td><a href="/profiles/view/{{ player }}">{{ player }}</a></td>
                        <td>{% won_rounds player tournament %}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
                {% if request.user == tournament.get_admin %}
                    <div class="input-group">
                        <input id="invite_name_input" type="text" name="name" placeholder="Nazwa" class="form-control">
                        <div class="input-group-btn">
                            <button id="invite_button" class="btn btn-info">Zaproś</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Rundy</div>
            <div class="panel-body">
                <table class="table round-table">
                    <tr>
                        <th>Numer</th>
                        <th>Status</th>
                        <th>Zwycięzca</th>
                        <th>Akcje</th>
                    </tr>
                {% for round in tournament.round_set.all %}
                    <tr {% if round.round_id == tournament.current_round %}class="current"{% endif %}>
                        <td>{{ round.round_id }}</td>
                        <td>{{ round.status_verbose }}</td>
                        <td {% if round.winner == request.user %}class="me"{% endif %}>{{ round.get_winner|default:"Nikt" }}</td>
                        <td>{% if round.status == "ROUND_IN_PROGRESS" %}{% for game in round.games.all %}{% if game in my_games %}
                            <a class="btn btn-sm btn-default" href="{% url 'game_view' game.session_id %}">Dołącz</a>
                            {% endif %}{% endfor %}{% endif %}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% with tournament.session_id|stringformat:"s" as session_id %}
        {% include "includes/chatbox.html" with chat_context="tournament-"|add:session_id  %}
        {% endwith %}
    </div>

    <script>
        var session_id = "{{ tournament.session_id }}";

        {% if request.user == tournament.get_admin %}
        document.getElementById("invite_button").onclick = function() {
            var username = document.getElementById("invite_name_input").value;
            invite_to_tournament(session_id, username);
        };
        document.getElementById("new_round_button").onclick = function() {
            new_round_tournament(session_id);
        };
        {% endif %}
    </script>
{% endblock %}