html, body {
  color: $main-text;
  background-color: $main-background;
}

#wrap { background-color: $content-background; min-height: 100vh; }

h1 { color: #111; }
h2 { color: $main-text; }
h3 { color: #222; }
h4 { color: #222; }

.lobby-game {
  border-top: 1px solid #ccc; padding-top: 10px;
}

.lobby-game .game-name {
  font-size: 12pt; font-weight: bold;
}

#running-games-list {
  min-height: 480px;
}

#running-games-list .lobby-game:first-child { border-top: none; padding-top: 0px; }

hr {
  border-top: 1px solid #ccc;
}

.headerbar {
  border-top: 8px solid $blood-red;
  border-bottom: 1px solid $blood-red;
  margin-bottom: 10px;
  padding: 10px;
}

.panel-heading {
  line-height: 30px; border-bottom: 4px solid $blood-red !important;
}

a { color: $blood-red; }

.btn-default, .btn-info {
  color: #bbb; background: #222; background-image: none !important; border: #333;
}

#players-list .current td { font-weight: bold; }

.panel-heading {
  font-weight: bold;
  background-image: url("/static/img/skull-overlay-heading.png") !important;
}

.player-info {
  text-align: center;
  .player-avatar { border-radius: 100%; margin-bottom: 20px; width: 100px; height: 100px; }
  .stats-list {
    list-style-type: none; padding: 0; margin: 0; text-align: left;
  }
}

.achievement {
  width: 64px; display: inline-block; margin-bottom: 3px;
  img { width: 100%; }
}

#body-alerts {
  position: fixed; top: 0; width: 100%; z-index: 100;
}
.alert-body {
  border-radius: 0px; margin-bottom: 0px;
}

.btn-alert {
  margin-top: -5px;
  background-color: rgba(255,255,255,0.1) !important;
  color: rgba(0,0,0,1) !important;
  text-shadow: none !important;
  border: 1px solid rgba(33,33,33,0.3) !important;
}

.mode { width: 100%; }
.current-mode {
  box-sizing: border-box;
  border: 3px solid lightblue;
}

.title {
  text-align: center;
}

#your-tournament-list .tournament:first-child { border-top: none; padding-top: 0px; }

.tournament {
  border-top: 1px solid #ccc; padding-top: 10px;
  .tournament-modes {
    font-size: 8pt; color: #999;
  }
  .tournament-join-btn { margin-left: 5px; }
}

.restore-pointer {
  cursor: pointer;
}

.schopenhauer-game { 
  cursor: default;
  a {
    font-size: 20pt;
    border: 2px solid #a11b1b;
    font-size: 14pt;
    line-height: 48px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    &.disabled {
      border: 2px solid #aaa;
      background-color: transparent;
      color: #aaa;
      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
    &:hover {
      background-color: #f7cccc;
      cursor: pointer;
    }
  }
}

.pull-left-responsive {
  float: left;
  @media screen and (max-width: 991px) {
    float: none !important;
  }
}

.pull-right-responsive {
  float: right;
  @media screen and (max-width: 991px) {
    float: none !important;
  }
}

@media screen and (max-width: 991px) {
  #pikczer {
    height: 30vh;
  }
  .headerbar {
    .pull-left, .pull-right {
      float: none !important;
      text-align: center;
      margin-top: 0px;
    }
    img {
      height: 60px;
    }
    h4 {
      font-size: 12pt;
    }
    .login-block { display: none; }
  }
  #progress {
    font-size: 16px;
  }
}
