.tournament-status-line {
  margin-top: 8px;
}

.tournament-status-line .tournament-status {
  background-color: rgba(212, 20, 20, 0.6);
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
}

.tournament-status-line h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.tournament-status .game-mistakes {
  float: right;
  padding-left: 16px;
}

.tournament-status .player-name {
  font-weight: bold;
  text-transform: uppercase;
}

.round-table .current {
  background-color: #ccc;
}

.round-table .current td {
  font-weight: bold;
  line-height: 30px;
}

.round-table .me {
  color: rgb(0,128,0);
}