{% extends "base.html" %}
{% load static %}

{% block content %}
    <h3 id="progress">{{ game.progress }}</h3>

    <div class="pull-right">
        <img id="pikczer" src="/static/img/wis0{{ game.mistakes|add:"1" }}.png">
    </div>

    <input class="keyboard-input" type="text" style="color: #000; background-color: #000; height: 0; opacity: 0;" autofocus id="wpisywacz">

    <div class="schopenhauer-game" data-game="{{ game.session_id }}">
        {% if game.get_mistake_count < 5 %}
        {% for x in alphabet %}
        <a href="#">{{ x }}</a>
        {% endfor %}{% else %}PRZEGRALES ZYCIE LOL{% endif %}
        <p id="used_letters">
            Wykorzystane literki: {% if game.used_characters %}{% for x in game.used_characters %}{{ x }}{% if not forloop.last %},{% endif %} {% endfor %}{% endif %}
        </p>
    </div>
    <div>
        <label>Punkty</label> <p id="score">{{ game.score }}</p>
        <label>Błędy</label> <p id="mistakes">{{ game.mistakes }}</p>
        <label>Tryb</label> <p>{{ game.verbose_mode }}</p>
    </div>
    <div><b>Lista uczestników:</b> <div id="players-list">nie żyją</div></div>

    {% if game.player %}<br/>
    <div><b>Gra</b> {{ game.player }}</div>
    {% endif %}

    {% if game.round_set.all %}
    <div class="tournament-status-line">
        <h4>Pozostali gracze</h4>
        {% for round in game.round_set.all %}
            {% for game in round.games.all %}
                <div class="tournament-status" id="game-{{ game.session_id }}">
                    <div class="game-mistakes" id="game-mistakes-{{ game.session_id }}">({{ game.mistakes }})</div>
                    <span class="player-name">{% if game.player %}{{ game.player }}{% else %}Wszyscy{% endif %}</span>
                    <div class="game-progress" id="game-progress-{{ game.session_id }}">{{ game.progress_string }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}