{% extends "base.html" %}
{% load static %}

{% block content %}
    <script>
        socket = new WebSocket("ws://" + window.location.host + "/lobby/");
        socket.onmessage = function(e) {
            var data_json = JSON.parse(e.data);
            var games = data_json.running_games;
            var players = data_json.players;
            var game_id = data_json.session_id;

            if (games) {
                for (var i = 0, len = games.length; i < len; i++) {
                  append_game(games[i]);
                }
            }
            if (game_id) {
                append_game(game_id);
                update_players("players-for-"+game_id, String(players).split(","));
            }
            if (players && !game_id) {
                update_players("players-list", String(players).split(","));
            }
        };
        socket.onerror = function(e) {
            show_info_block("danger", "Wystąpił błąd: '"+e+"'. Oczekuj niedziałających rzeczy.", default_options);
        };
        socket.onclose = function(e) {
            show_info_block("danger", "Utracono połączenie.", default_options);
        };

        function append_game(session_id) {
            if (!document.getElementById("game-" + session_id)) {
                include_from_template("#running-games-list", "includes/decadence/lobby_game.html", {"session_id": session_id}, "beforeend");
            }
        }
    </script>


    <div class="clearfix">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Trwające gry
                    <div class="pull-right">
                        <a href="{% url "new_game_view" %}" type="submit" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> Nowa</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="running-games-list"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% if request.user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Turnieje
                    <div class="pull-right">
                        <a href="{% url "new_tournament_view" %}" type="submit" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> Nowy turniej</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="tournament-list">
                        {% comment %}{% if not tournaments %}Nie uczestniczysz w żadnym turnieju.{% else %}
                            {% for tournament in tournaments %}
                                <div>
                                    <a href="{% url 'tournament_view' tournament.session_id %}">{{ tournament.name }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}{% endcomment %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">Gracze</div>
                <div class="panel-body">
                    <div id="players-list">nie żyją</div>
                </div>
            </div>
            {% include "includes/chatbox.html" with chat_context="lobby" %}
        </div>
    </div>
{% endblock %}