{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="title">
        <div class="col-md-4 col-md-offset-4 clearfix">
            <h2>Wybierz tryb rozgrywki</h2>
            <hr/>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-2 {% if is_tournament %}col-md-offset-2{% else %}col-md-offset-3{% endif %}">
            <a href="#" class="modifier-button" data-modifier="no_modifiers">
                <img id="modifier-no_modifiers" class="mode" src="{% static 'img/modes/eutanazol.png' %}">
                <h4>Eutanazol</h4>
            </a>
            <p>Klasyczna gra w wisielca.</p>
        </div>
        <div class="col-md-2">
            <a href="#" class="modifier-button" data-modifier="inverse_death">
                <img id="modifier-inverse_death" class="mode" src="{% static 'img/modes/born_to_die.png' %}">
                <h4>Born To Die</h4>
            </a>
            <p>Spróbuj poznać słodki smak porażki.</p>
        </div>

        <div class="col-md-2">
            <a href="#" class="modifier-button" data-modifier="only_one_mistake">
                <img id="modifier-only_one_mistake" class="mode" src="{% static 'img/modes/yolo.jpg' %}">
                <h4>Masz tylko jedno życie</h4>
            </a>
            <p>I dobrze.</p>
        </div>

        {% if is_tournament %}
        <div class="col-md-2 clearfix">
            <a href="#" class="modifier-button" data-modifier="cooperation">
                <img id="modifier-cooperation" class="mode" src="{% static 'img/modes/niekorzystne.png' %}">
                <h4>Wszyscy mamy źle w głowach, że żyjemy</h4>
            </a>
            <p>Gracze zgadują wspólnie jedno hasło.</p>
        </div>
        {% endif %}


        <div class="col-md-12">
            {% if is_tournament %}
            <div class="form-group">
                <label for="name_input">Nazwa</label>
                <input type="text" name="name" class="form-control" id="name_input" placeholder="np. Raz kozie śmierć">
            </div>
            {% endif %}
            <button {% if is_tournament %}data-tournament="true" {% endif %}id="new_game_button" class="btn btn-info btn-lg">Zaczynamy</button>
        </div>
    </div>
{% endblock %}