<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/schopenhauer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mchat.css' %}">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/wikiquote-api.js' %}"></script>
</head>
<body>
    <div class="container" id="wrap">
        <div class="row">
            <div class="col-md-12" style="margin: 0 0 40px 0;">
                {% block header %}
                <div class="headerbar clearfix" style="padding: 15px;">
                    <div class="pull-left"><h1>Wisielec Schopenhauera</h1></div>
                    <div class="pull-right" style="margin-top: 20px"><h4><a href="/game/new">Lobby</a> | Zaloguj się | Nie chce mi się</h4></div>
                </div>
                {% endblock %}
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-12" id="page-footer">
                {% block footer %}
                <hr/>
                <div class="copyright" style="text-align: center;">
                    Zainspirowane filozofią Artura Schopenhauera. © krojony.pl 2016
                </div>
                {% endblock %}
            </div>&nbsp;
        </div>
    </div>
</body>
</html>