channels==1.1.8
daphne==1.3.0
Django==1.10.2
lxml==4.2.1
requests==2.11.1
django-pipeline==1.6.9
psycopg2==2.6.2
django-allauth==0.30.0
django-widget-tweaks==1.4.2
-e git://github.com/ksiazkowicz/django-decadence.git#egg=django-decadence

# these can be even latest I guess
pytz
pillow
asgi_redis==1.4.3

# for development
pylint
pylint_django
pep8